/* LoadingSpinner.css */
.spinner-container {
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 3rem; /* 48px */
  width: 3rem; /* 48px */
  border: 2px solid transparent;
  border-bottom: 2px solid #ec4899; /* pink-500 */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
